$base-color: #0dc441;

@font-face {
  font-family: yofont;
  src: url("/doudoutemai/images/iconfont/iconfont.woff") format("woff"), url("/doudoutemai/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/doudoutemai/images/iconfont/iconfont-menu.woff") format("woff"), url("/doudoutemai/images/iconfont/iconfont-menu.ttf") format("truetype");
}
